@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item:hover {
  cursor: pointer;
}

.nav-active,
.site-main a:not(.button__link) {
  border-bottom: 1px dotted #25629C;
  color: #25629C;
}

.site-main a:hover,
.site-main a:focus {
  border-bottom: 1px solid #25629C;
}

.cat-active,
.project__cat {
  background-color: lightsteelblue;
}
