@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(236, 253, 245);
}

.nav-item:hover {
  cursor: pointer;
}

.nav-active {
  border-bottom: 1px dotted rgba(52, 211, 153);
  color: rgba(52, 211, 153);
}

.footer-item:hover {
  color: rgba(52, 211, 153);
}