@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(236, 253, 245);
}

.nav-item:hover {
  cursor: pointer;
}

.nav-active,
.site-main a:not(.button__link) {
  border-bottom: 1px dotted rgba(52, 211, 153);
  color: rgba(52, 211, 153);
}

.site-main a:hover,
.site-main a:focus {
  border-bottom: 1px solid #25629C;
}
